<a href="https://colab.research.google.com/github/arnaudmkonan/SanctionsExplorer/blob/master/combination_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install faker

Collecting faker
  Downloading Faker-30.6.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-30.6.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 19.9 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-30.6.0

In [4]:
import pandas as pd
from itertools import combinations
from faker import Faker

# Initialize Faker
fake = Faker()

# Sample data frame with missing values
data = {
    "ssn": ["321-63-9421", "123-45-6789", None],
    "name": ["John Doe", "john Snow", "Jane Smith"],
    "dob": ["1985-04-12", "1990-06-30", None],
    "address": [None, "123 Main St", "456 Elm St"],
    "zip_code": [None, "12345", None],
    "city": [None, "Denver", None],
    "state": ["CO", None, None]
}

df = pd.DataFrame(data)

# Function to fill missing values using Faker
def fill_missing_values(row):
    if pd.isnull(row['ssn']):
        row['ssn'] = fake.ssn()
    if pd.isnull(row['name']):
        row['name'] = fake.name()
    if pd.isnull(row['dob']):
        row['dob'] = fake.date_of_birth(minimum_age=18, maximum_age=90).strftime("%Y-%m-%d")
    if pd.isnull(row['address']):
        row['address'] = fake.street_address()
    if pd.isnull(row['zip_code']):
        row['zip_code'] = fake.zipcode()
    if pd.isnull(row['city']):
        row['city'] = fake.city()
    if pd.isnull(row['state']):
        row['state'] = fake.state_abbr()
    return row

# Apply the function to fill in missing values
df = df.apply(fill_missing_values, axis=1)

# Elements to create combinations
elements = ["ssn", "name", "dob", "address", "zip_code", "city", "state"]

# Create a list to hold the expanded rows
expanded_rows = []

# Function to assign the target based on the presence of ssn or name
def assign_target(row):
    if pd.notnull(row['ssn']):
        return 1
    elif pd.notnull(row['name']):
        return 1
    else:
        return 0

# Loop through each row in the DataFrame
for _, row in df.iterrows():
    # For each row, create combinations of elements
    for r in range(1, len(elements) + 1):
        for combo in combinations(elements, r):
            # Create a new row where only the elements in the combo are present
            new_row = {el: row[el] if el in combo else None for el in elements}
            # Assign the target value based on the logic
            new_row['target'] = assign_target(new_row)
            # Append the new row to the expanded_rows list
            expanded_rows.append(new_row)

# Convert the expanded rows into a new DataFrame
expanded_df = pd.DataFrame(expanded_rows)

# Display the final expanded DataFrame
# import ace_tools as tools; tools.display_dataframe_to_user(name="Expanded Data with Target", dataframe=expanded_df)

In [5]:
expanded_df.head(12)

,ssn,name,dob,address,zip_code,city,state,target
0,490-09-9029,None,None,None,None,None,None,1
1,None,John Doe,None,None,None,None,None,1
2,None,None,1985-04-12,None,None,None,None,0
3,None,None,None,6228 Willie Flats,None,None,None,0
4,None,None,None,None,02072,None,None,0
5,None,None,None,None,None,East Christinechester,None,0
6,None,None,None,None,None,None,CO,0
7,490-09-9029,John Doe,None,None,None,None,None,1
8,490-09-9029,None,1985-04-12,None,None,None,None,1
9,490-09-9029,None,None,6228 Willie Flats,None,None,None,1
10,490-09-9029,None,None,None,02072,None,None,1
11,490-09-9029,None,None,None,None,East Christinechester,None,1

In [6]:
import pandas as pd
from itertools import combinations
from faker import Faker

# Initialize Faker
fake = Faker()

# Sample data frame with missing values
data = {
    "ssn": [None, "123-45-6789", None],
    "name": ["John Doe", None, "Jane Smith"],
    "dob": ["1985-04-12", "1990-06-30", None],
    "address": [None, "123 Main St", "456 Elm St"],
    "zip_code": [None, "12345", None],
    "city": [None, "Denver", None],
    "state": ["CO", None, None]
}

df = pd.DataFrame(data)

# Elements to create combinations
elements = ["ssn", "name", "dob", "address", "zip_code", "city", "state"]

# Create a list to hold the expanded rows
expanded_rows = []

# Loop through each row in the DataFrame
for _, row in df.iterrows():
    # For each row, create combinations of elements
    for r in range(1, len(elements) + 1):
        for combo in combinations(elements, r):
            # Create a new row where only the elements in the combo are present
            new_row = {el: row[el] if el in combo else None for el in elements}
            expanded_rows.append(new_row)

# Convert the expanded rows into a new DataFrame
expanded_df = pd.DataFrame(expanded_rows)

# Function to fill missing values using Faker
def fill_missing_values(row):
    if pd.isnull(row['ssn']):
        row['ssn'] = fake.ssn()
    if pd.isnull(row['name']):
        row['name'] = fake.name()
    if pd.isnull(row['dob']):
        row['dob'] = fake.date_of_birth(minimum_age=18, maximum_age=90).strftime("%Y-%m-%d")
    if pd.isnull(row['address']):
        row['address'] = fake.street_address()
    if pd.isnull(row['zip_code']):
        row['zip_code'] = fake.zipcode()
    if pd.isnull(row['city']):
        row['city'] = fake.city()
    if pd.isnull(row['state']):
        row['state'] = fake.state_abbr()
    return row

# Apply the function to fill in missing values after expansion
expanded_df = expanded_df.apply(fill_missing_values, axis=1)

# Function to assign the target based on the presence of ssn or name
def assign_target(row):
    if pd.notnull(row['ssn']):
        return 1
    elif pd.notnull(row['name']):
        return 1
    else:
        return 0

# Assign the target column
expanded_df['target'] = expanded_df.apply(assign_target, axis=1)

# Display the final expanded DataFrame with filled values
# import ace_tools as tools; tools.display_dataframe_to_user(name="Expanded Data with Filled Values and Target", dataframe=expanded_df)

In [7]:
expanded_df.head(12)

,ssn,name,dob,address,zip_code,city,state,target
0,723-42-5173,Crystal Nelson,1965-05-10,289 Kimberly Ridge Apt. 593,03369,Williamsside,NV,1
1,486-56-8328,John Doe,1960-05-02,60202 Cunningham Well,01868,West Kimberlyborough,CT,1
2,620-04-6580,Raven Barajas,1985-04-12,1922 Romero Dale,27504,Mariefurt,WA,1
3,074-82-8803,Jordan Richardson,1961-07-06,3108 Parker Junction Suite 138,98527,Kimberlyville,IL,1
4,007-22-5136,Christopher Thompson,1961-01-02,043 Katherine Spring,04976,Barnesbury,MP,1
5,765-42-3740,Shannon Williams,1951-08-21,69477 Kristen Fall,60704,Robinsonville,IN,1
6,088-65-4126,Vicki Jones,1968-01-01,05932 Olson Haven Suite 698,14628,Jeffview,CO,1
7,428-90-4298,John Doe,2006-07-27,92726 Spencer Underpass,09956,South Philipstad,IN,1
8,550-61-7809,Daniel York,1985-04-12,0246 Smith Locks,94884,Danielport,TX,1
9,537-20-4707,Gary Bennett,1961-02-28,42873 Scott Mountains Suite 959,97036,Deborahview,GA,1
10,671-32-8182,Austin May,1984-09-23,89779 Allen Station Apt. 097,99557,Sandrahaven,FL,1
11,284-82-8697,Daniel Harris,1988-03-16,902 Cynthia Court,06047,Carrieborough,KY,1

In [8]:
expanded_df.tail(12)

,ssn,name,dob,address,zip_code,city,state,target
369,849-30-3784,Jane Smith,1937-03-03,456 Elm St,12575,Powellborough,SC,1
370,206-14-1597,Jane Smith,1995-10-22,760 Watkins Rapid,80046,West Garrett,NJ,1
371,565-46-2038,Jane Smith,1957-08-03,456 Elm St,11366,Lake Theresa,GU,1
372,330-92-5472,Drew West,1960-09-11,456 Elm St,67801,New Ana,OK,1
373,275-87-5226,Jane Smith,1958-01-19,456 Elm St,94849,Mitchellshire,NE,1
374,039-06-8301,Jane Smith,1945-11-02,456 Elm St,03234,Boylestad,WV,1
375,091-73-7691,Jane Smith,1990-10-26,456 Elm St,66138,South Anthony,NV,1
376,356-08-8785,Jane Smith,1975-02-04,120 Diane Ports,12377,New Mary,TN,1
377,849-35-6807,Jane Smith,1940-07-09,456 Elm St,98430,South Madeline,IL,1
378,682-74-0610,Andrew Morales,1968-08-02,456 Elm St,18668,New Melissaberg,KS,1
379,414-95-5881,Jane Smith,1947-11-10,456 Elm St,54189,Morrisonchester,MI,1
380,026-98-7284,Jane Smith,1937-02-01,456 Elm St,66505,Donbury,OK,1

In [9]:
expanded_df.nunique()

ssn         318
name        254
dob         255
address     255
zip_code    315
city        314
state        58
target        1
dtype: int64

In [17]:
import pandas as pd
from itertools import combinations
from faker import Faker

# Initialize Faker
fake = Faker()

# Sample data frame with missing values
data = {
    "ssn": ["723-42-5173", "123-45-6789", "330-92-5472"	],
    "name": ["John Doe", "Drew West", "Jane Smith"],
    "dob": ["1985-04-12", "1990-06-30", "1975-02-04"],
    "address": ["120 Diane Ports", "123 Main St", "456 Elm St"],
    "zip_code": [None, "12345", None],
    "city": ["Atlanta", "Denver", "Decatur"],
    "state": ["CO", "GA", None]
}

df = pd.DataFrame(data)

# Elements to create combinations
elements = ["ssn", "name", "dob", "address", "zip_code", "city", "state"]

# Create a list to hold the expanded rows
expanded_rows = []

# Function to assign the target based on the presence of ssn or name
def assign_target(row):
    if pd.notnull(row['ssn']):
        return 1
    elif pd.notnull(row['name']):
        return 1
    else:
        return 0

# Loop through each row in the DataFrame
for _, row in df.iterrows():
    # For each row, create combinations of elements
    for r in range(1, len(elements) + 1):
        for combo in combinations(elements, r):
            # Create a new row where only the elements in the combo are present
            new_row = {el: row[el] if el in combo else None for el in elements}
            # Assign the target value based on the original data
            new_row['target'] = assign_target(new_row)
            # Append the new row to the expanded_rows list
            expanded_rows.append(new_row)

# Convert the expanded rows into a new DataFrame
expanded_df = pd.DataFrame(expanded_rows)

# Function to fill missing values using Faker (after target assignment)
def fill_missing_values(row):
    if pd.isnull(row['ssn']):
        row['ssn'] = fake.ssn()
    if pd.isnull(row['name']):
        row['name'] = fake.name()
    if pd.isnull(row['dob']):
        row['dob'] = fake.date_of_birth(minimum_age=18, maximum_age=90).strftime("%Y-%m-%d")
    if pd.isnull(row['address']):
        row['address'] = fake.street_address()
    if pd.isnull(row['zip_code']):
        row['zip_code'] = fake.zipcode()
    if pd.isnull(row['city']):
        row['city'] = fake.city()
    if pd.isnull(row['state']):
        row['state'] = fake.state_abbr()
    return row

# Apply the function to fill in missing values AFTER assigning the target
# expanded_df = expanded_df.apply(fill_missing_values, axis=1)

# Display the final expanded DataFrame
# import ace_tools as tools; tools.display_dataframe_to_user(name="Expanded Data with Target Assigned Before Filling", dataframe=expanded_df)

In [18]:
expanded_df.head(40)

,ssn,name,dob,address,zip_code,city,state,target
0,723-42-5173,None,None,None,None,None,None,1
1,None,John Doe,None,None,None,None,None,1
2,None,None,1985-04-12,None,None,None,None,0
3,None,None,None,120 Diane Ports,None,None,None,0
4,None,None,None,None,None,None,None,0
5,None,None,None,None,None,Atlanta,None,0
6,None,None,None,None,None,None,CO,0
7,723-42-5173,John Doe,None,None,None,None,None,1
8,723-42-5173,None,1985-04-12,None,None,None,None,1
9,723-42-5173,None,None,120 Diane Ports,None,None,None,1
10,723-42-5173,None,None,None,None,None,None,1
11,723-42-5173,None,None,None,None,Atlanta,None,1
12,723-42-5173,None,None,None,None,None,CO,1
13,None,John Doe,1985-04-12,None,None,None,None,1
14,None,John Doe,None,120 Diane Ports,None,None,None,1
15,None,John Doe,None,None,None,None,None,1
16,None,John Doe,None,None,None,Atlanta,None,1
17,None,John Doe,None,None,None,None,CO,1
18,None,None,1985-04-12,120 Diane Ports,None,None,None,0
19,None,None,1985-04-12,None,None,None,None,0
20,None,None,1985-04-12,None,None,Atlanta,None,0
21,None,None,1985-04-12,None,None,None,CO,0
22,None,None,None,120 Diane Ports,None,None,None,0
23,None,None,None,120 Diane Ports,None,Atlanta,None,0
24,None,None,None,120 Diane Ports,None,None,CO,0
25,None,None,None,None,None,Atlanta,None,0
26,None,None,None,None,None,None,CO,0
27,None,None,None,None,None,Atlanta,CO,0
28,723-42-5173,John Doe,1985-04-12,None,None,None,None,1
29,723-42-5173,John Doe,None,120 Diane Ports,None,None,None,1
30,723-42-5173,John Doe,None,None,None,None,None,1
31,723-42-5173,John Doe,None,None,None,Atlanta,None,1
32,723-42-5173,John Doe,None,None,None,None,CO,1
33,723-42-5173,None,1985-04-12,120 Diane Ports,None,None,None,1
34,723-42-5173,None,1985-04-12,None,None,None,None,1
35,723-42-5173,None,1985-04-12,None,None,Atlanta,None,1
36,723-42-5173,None,1985-04-12,None,None,None,CO,1
37,723-42-5173,None,None,120 Diane Ports,None,None,None,1
38,723-42-5173,None,None,120 Diane Ports,None,Atlanta,None,1
39,723-42-5173,None,None,120 Diane Ports,None,None,CO,1

In [19]:
expanded_df.tail(40)

,ssn,name,dob,address,zip_code,city,state,target
341,None,Jane Smith,1975-02-04,None,None,None,None,1
342,None,Jane Smith,1975-02-04,None,None,Decatur,None,1
343,None,Jane Smith,None,456 Elm St,None,Decatur,None,1
344,None,Jane Smith,None,456 Elm St,None,None,None,1
345,None,Jane Smith,None,456 Elm St,None,Decatur,None,1
346,None,Jane Smith,None,None,None,Decatur,None,1
347,None,None,1975-02-04,456 Elm St,None,Decatur,None,0
348,None,None,1975-02-04,456 Elm St,None,None,None,0
349,None,None,1975-02-04,456 Elm St,None,Decatur,None,0
350,None,None,1975-02-04,None,None,Decatur,None,0
351,None,None,None,456 Elm St,None,Decatur,None,0
352,330-92-5472,Jane Smith,1975-02-04,456 Elm St,None,None,None,1
353,330-92-5472,Jane Smith,1975-02-04,456 Elm St,None,Decatur,None,1
354,330-92-5472,Jane Smith,1975-02-04,456 Elm St,None,None,None,1
355,330-92-5472,Jane Smith,1975-02-04,None,None,Decatur,None,1
356,330-92-5472,Jane Smith,1975-02-04,None,None,None,None,1
357,330-92-5472,Jane Smith,1975-02-04,None,None,Decatur,None,1
358,330-92-5472,Jane Smith,None,456 Elm St,None,Decatur,None,1
359,330-92-5472,Jane Smith,None,456 Elm St,None,None,None,1
360,330-92-5472,Jane Smith,None,456 Elm St,None,Decatur,None,1
361,330-92-5472,Jane Smith,None,None,None,Decatur,None,1
362,330-92-5472,None,1975-02-04,456 Elm St,None,Decatur,None,1
363,330-92-5472,None,1975-02-04,456 Elm St,None,None,None,1
364,330-92-5472,None,1975-02-04,456 Elm St,None,Decatur,None,1
365,330-92-5472,None,1975-02-04,None,None,Decatur,None,1
366,330-92-5472,None,None,456 Elm St,None,Decatur,None,1
367,None,Jane Smith,1975-02-04,456 Elm St,None,Decatur,None,1
368,None,Jane Smith,1975-02-04,456 Elm St,None,None,None,1
369,None,Jane Smith,1975-02-04,456 Elm St,None,Decatur,None,1
370,None,Jane Smith,1975-02-04,None,None,Decatur,None,1
371,None,Jane Smith,None,456 Elm St,None,Decatur,None,1
372,None,None,1975-02-04,456 Elm St,None,Decatur,None,0
373,330-92-5472,Jane Smith,1975-02-04,456 Elm St,None,Decatur,None,1
374,330-92-5472,Jane Smith,1975-02-04,456 Elm St,None,None,None,1
375,330-92-5472,Jane Smith,1975-02-04,456 Elm St,None,Decatur,None,1
376,330-92-5472,Jane Smith,1975-02-04,None,None,Decatur,None,1
377,330-92-5472,Jane Smith,None,456 Elm St,None,Decatur,None,1
378,330-92-5472,None,1975-02-04,456 Elm St,None,Decatur,None,1
379,None,Jane Smith,1975-02-04,456 Elm St,None,Decatur,None,1
380,330-92-5472,Jane Smith,1975-02-04,456 Elm St,None,Decatur,None,1